*{
    padding:0;
    margin:0;
    list-style: none;
    text-decoration: none;
}

button{
      outline: none;   
}

html, body{
      width: 100%;
      height: 100%;
      background: rgb(36, 36, 36);
      overflow: hidden;
}

#header {
      width: 100%;
      height: 100px;
      display: block;
      background-color: #161616;
      position: relative;
      z-index: 2;
}

#inner-header {
      width: 70%;
      height: 100%;
      display: block;
      margin: 0 auto;
}

#logo-container {
      height: 100%;
      display: table;
      float: left;
}

#logo-container img {
      padding-top: 15px;
      height: 65%;
      display: table-cell;
      vertical-align: middle;
      transition: 0.2s;
}

#logo-container img:hover {
      transform: scale(1.3);
}

#nav {
      border: 10px #0c7edb;
      float: right;
      height: 100%;
}

#nav a {
      height: 100%;
      display: table;
      float: left;
      padding: 0px 20px;
}

#nav a:last-child {
      padding-right: 0;
}

#nav a li {
      display: table-cell;
      vertical-align: middle;
      height: 100%;
      color: white;
      font: bold 20px Verdana, Geneva, sans-serif;
      transition: transform .2s;
}

#nav a li:hover {
      transform: scale(1.3);
      color: rgb(161, 161, 161);
}
  
#main {
      background: rgb(36, 36, 36);
      width: 100%;
      height: calc(100% + 100px);
      position: relative;
}

#top-left {
      background: rgb(36, 36, 36);
      position: absolute;
      top: 0%;
      left: 0%;
      width: 50%;
      height: 35%;
      font: bold 20px Verdana, Geneva, sans-serif;
      color: white;
      padding-top:  40px;
      padding-left: 40px;
      white-space: pre-line;
      word-wrap: break-word;
      animation: loadTitle 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes loadTitle {
      0% {transform: translateY(5%); opacity: 0;}
      100% {transform: translateY(0%); opacity: 1;}
}


#bottom-left {
      background: rgb(36, 36, 36);
      position: absolute;
      top: 35%;
      left: 0%;
      width: 50%;
      height: 50%;
      display: inline-block;
      text-align: center;
      animation: loadSystem 3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
  
#right {
      background: rgb(36, 36, 36);
      position: absolute;
      top: 0%;
      left: 50%;
      width: 50%;
      height: 85%;
      display: inline-block;
      text-align: center;
      animation: loadSystem 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes loadSystem {
      0% {transform: translateY(15%); opacity: 0;}
      25% {opacity: 0;}
      100% {transform: translateY(0%); opacity: 1;}
}


.system-name-holder {
      font: 25px Verdana, Geneva, sans-serif;
      background-color: #ffffff4f;
      border-radius: 10px 10px;
      width: 150px;
      height: 30px;
      position: absolute;
      top: 5%;
      left: calc(50% - 3vw);
}

.system-name {
      font: bold 25px Verdana, Geneva, sans-serif;
      color: rgb(255, 255, 255);
      position: absolute;
      left: 10%;
}

#rocket {
      position: absolute;
      width: 20px;
      height: 20px;
      top: 25%;
      left: 25%;
      pointer-events: none;
      box-sizing: border-box;
      transition: 0.1s;
}

#rocket-icon {
      position: absolute;
      transition: 0.001s;
}


#sun {
      border-radius: 50%;
      background-color: rgb(250, 233, 2);
      box-shadow : 0 0 128px rgb(201, 114, 15);
      position: absolute;
      top: calc(50% - 3vw);
      left: calc(50% - 3vw);
      width: 6vw;
      height: 6vw;
}



#soundstrips-orbit {
      border-radius: 50%;
      border: 2px solid #ffffff;
      position: absolute;
      top: calc(50% - 17vw);
      left: calc(50% - 17vw);
      width: 35vw;
      height: 35vw;
      animation: spin-right 40s linear infinite;
}

#soundstrips {
      background-color : #0c7edb;
      border-style: none;
      border-radius : 75px;
      position: absolute;
      top: 0;
      left: 70%;
      width: 4vw;
      height: 4vw;
      animation: spin-left 40s linear infinite;
}

#stackunderflow-orbit {
      border-radius: 50%;
      border: 2px solid #ffffff;
      position: absolute;
      top: calc(50% - 11vw);
      left: calc(50% - 11vw);
      width: 22vw;
      height: 22vw;
      animation: spin-right 20s linear infinite;
}

#stackunderflow {
      background-color : #14e01e;
      border-style: none;
      border-radius : 75px;
      position: absolute;
      top: 0;
      left: 70%;
      width: 4vw;
      height: 4vw;
      animation: spin-left 20s linear infinite;
}


#tmtroubles-orbit {
      border-radius: 50%;
      border: 2px solid #ffffff;
      position: absolute;
      top: calc(50% - 5vw);
      left: calc(50% - 5vw);
      width: 10vw;
      height: 10vw;
      animation: spin-right 7s linear infinite;
}

#tmtroubles {
      background-color : #db3c0c;
      border-style: none;
      border-radius : 75px;
      position: absolute;
      top: 0;
      left: 70%;
      width: 2vw;
      height: 2vw;
      animation: spin-left 7s linear infinite;
}

#meteoride-orbit {
      border-radius: 50%;
      border: 2px solid #ffffff;
      position: absolute;
      top: calc(50% - 5vw);
      left: calc(50% - 5vw);
      width: 10vw;
      height: 10vw;
      animation: spin-right 7s linear infinite;
}

#meteoride {
      background-color : #950eca;
      border-style: none;
      border-radius : 75px;
      position: absolute;
      top: 0;
      left: 70%;
      width: 2vw;
      height: 2vw;
      animation: spin-left 7s linear infinite;
}

#supersun-orbit {
      border-radius: 50%;
      border: 2px solid #ffffff;
      position: absolute;
      top: calc(50% - 10vw);
      left: calc(50% - 10vw);
      width: 20vw;
      height: 20vw;
      animation: spin-right 15s linear infinite;
}

#supersun {
      background-color : #e0f804;
      border-style: none;
      border-radius : 75px;
      position: absolute;
      top: 0;
      left: 70%;
      width: 3vw;
      height: 3vw;
      animation: spin-left 15s linear infinite;
}

.project-name {
      top: -80px;
      left: 0%;
      opacity: 0;
      font: bold 20px Verdana, Geneva, sans-serif;
      color: white;
      background-color: #323257;
      width: 100px;
      transform: translateY(-5%);
}


button:hover {
      box-shadow : 0 0 10px 8px rgb(255, 255, 255);
}

button:hover .project-name{
      opacity: 1;
      transform: translateY(0%);
}

@keyframes spin-right {
      100% {
      transform: rotate(360deg);
      }
}

@keyframes spin-left {
      100% {
      transform: rotate(-360deg);

      }
}

/* The Modal (background) */
.modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 2; /* Sit on top */
      top: 0;
      
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0);  /* Fallback color */
      background-color: rgba(0,0,0,0.25);  /* Black w/ opacity */
}
    
 /* Modal Content/Box */
.modal-content {
      background-color: #ffffff;
      margin: 5% auto; /* 15% from the top and centered */
      padding: 0px;
      border-radius: 50px;
      width: 60%; /* Could be more or less, depending on screen size */
      position: relative;
      height: 70%;
      box-shadow: 0 10px 12px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
      animation-name: animatetop;
      animation-duration: 0.4s;
}
    

/* Modal Header */
.modal-header {
      background-color: #22223b;
      color: white;
      height: 15%;
      width: 100%;
      border-radius: 20px 20px 0 0;
}

.modal-tags {
      background-color: #323257;
      color: white;
      height: 10%;
      width: 100%;
}

.modal-tags li{
      font: 30px Verdana, Geneva, sans-serif;
      background-color: #ffffff63;
      border-radius: 10px;
      height: 100%;
      display: table;
      float: left;
      padding: 5px;
      margin: 10px 5%;
}

.modal-title {
      font: 75px Verdana, Geneva, sans-serif;
      padding-top: 5px;
      padding-left: 20px;
}

/* The Close Button */
.close {
      color: rgb(255, 255, 255);
      float: right;
      font-size: 28px;
      font-weight: bold;
      padding-top: 5px;
      padding-right: 20px;
}

.close:hover,
.close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
}


/* Modal Body */
.modal-body {
      position: absolute;
      font-family: "Lucida Console", "Courier New", monospace;
      width: 100%;
      height: 75%;
      border-radius: 0 0 50px 50px;
}

.modal-images {
      position: absolute;
      /*background-color: #14e01e;*/
      float: left;
      width: 50%;
      height: 100%;
      display: inline;
      border-radius: 0 0 0 20px;
      overflow: auto;
}

.modal-images img {
      width: 100%;
}

.modal-text {
      font: 20px Verdana, Geneva, sans-serif;
      color: black;
      float: left;
      position: absolute;
      left: 50%;
      width: 40%;
      height: 100%;
      display: inline;
      border-radius: 0 0 20px 0;
      padding: 2.5%;
      overflow: auto;
}

/* Add Animation */
@keyframes animatetop {
      from {top: -300px; opacity: 0}
      to {top: 0; opacity: 1}
}